<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Add User</h1>
    <form action="/api/user/create" method="get">
      <label for="">Fullname</label><input type="text" name="fullname" />
      <label for="">Username</label><input type="text" name="username" />
      <label for="">Password</label><input type="text" name="password" />
      <button type="submit">Save</button>
    </form>
  </body>
</html>
